/*general styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*variables*/
:root{
    --blue: hsl(246, 80%, 60%);

    --LightRed: hsl(15, 100%, 70%);
    --SoftBlue: hsl(195, 74%, 62%);
    --LightRed2: hsl(348, 100%, 68%);
    --LimeGreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --SoftOrange: hsl(43, 84%, 65%);

    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturated: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);
}
/*fuente*/
@font-face {
    font-family: "Rubik";
    src: url("https://fonts.google.com/specimen/Rubik");
    font-weight: 300, 400, 500;
}

/*screen style*/
#ScreenContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: hsl(226, 43%, 10%);
}

/*content style*/
#Content{
    width: 60vw;
    height: 68vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 10px;
    margin: 0 auto;
    align-self: center;
}

/*principal card*/
#PrincipalCard{
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 2 ;
}
/**/
.card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
    overflow: hidden;
}
.card img{
    margin-right: 10px;
    width: 30%;
    position: relative;
    bottom: 3px;
}
#card5 img{
    object-fit: cover;
}
/*cards position*/
#card1{
    grid-row: 1;
    grid-column: 2; 
}

#card2{
    grid-column: 3;
    grid-row: 1;
}

#card3{
    grid-column: 4;
    grid-row: 1;
}

#card4{
    grid-column: 2;
    grid-row: 2;
}

#card5{
    grid-column: 3;
    grid-row: 2;
}

#card6{
    grid-column: 4;
    grid-row: 2;
}

/*general card style*/
.background{
    height: 100px;
    position: relative;
    border-radius: 15px;
}
.description{
    height: 105%;
    position: relative;
    bottom: 30px;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
    transition: all 300ms;
    cursor: pointer;
}
/*hover description*/
.description:hover{
    background-color: hsl(235, 36%, 46%);
}
/*individual card background color*/
.backCard1{
    background-color: hsl(15, 100%, 70%);
}
.backCard2{
    background-color: hsl(195, 74%, 62%);
}
.backCard3{
    background-color: hsl(348, 100%, 68%);
}
.backCard4{
    background-color: hsl(145, 58%, 55%);
}
.backCard5{
    background-color: hsl(264, 64%, 52%);
}
.backCard6{
    background-color: hsl(43, 84%, 65%);
}

/*principal card style */
.PrincipalCardBack{
    height: 65%;
    position: relative;
    border-radius: 15px;
    z-index: 1;
    background-color:hsl(246, 80%, 60%);
}
.PrincipalCardDesc{
    height: 35%;
    position: relative;
    bottom: 30px;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
}